<!-- Site wrapper -->
<div class="wrapper">

    <app-org-header></app-org-header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <app-org-menu></app-org-menu>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->

        <!-- Main content -->
        <router-outlet></router-outlet>
        <!-- /.content -->
    
    <!-- /.content-wrapper -->
    <app-org-footer></app-org-footer>

</div>
<!-- ./wrapper -->