<!-- Site wrapper -->
<div class="wrapper">

    <app-customer-header></app-customer-header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <app-customer-menu></app-customer-menu>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->

        <!-- Main content -->
        <router-outlet></router-outlet>
        <!-- /.content -->
    
    <!-- /.content-wrapper -->
    <app-customer-footer></app-customer-footer>

</div>
<!-- ./wrapper -->