<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Meditech!
  </h1>
 
</div>

<h2>Please select your selection </h2>
<ul>
  <li>
    <h2><a class="nav-link" rel="noopener" routerLink="/customer/login">Customer Portal</a></h2>
  </li>
  <li>
    <h2><a class="nav-link" rel="noopener" routerLink="/organization/login">Organization Portal</a></h2>
  </li>
  <li>
    <h2><a class="nav-link" rel="noopener" routerLink="/mcp/login">Master Control Panel</a></h2>
  </li>
</ul>

